.app.dark {
    --bg-color: #153742;
    --inverted-bg-color: #e0d9d9;
    --primary-color: #538375;
    --secondary-color: #084a60;
    --inverted-primary-color: #34692e;
    --inverted-secondary-color: #223746;
}
