.app_dark_theme {
    --bg-color: #153742;
    --inverted-bg-color: #e0d9d9;
    --primary-color: #538375;
    --secondary-color: #367c94;
    --inverted-primary-color: #34692e;
    --inverted-secondary-color: #223746;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;

    // card
    --card-bg: #7ba99c;
}
