.app_green_theme {
    --bg-color: #0dd797;
    --inverted-bg-color: #e0d9d9;
    --primary-color: #055047;
    --secondary-color: #5cb25c;
    --inverted-primary-color: #0f996d;
    --inverted-secondary-color: #35803d;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #7ba99c;
}
