.app_green_theme {
    --bg-color: #0dd797;
    --inverted-bg-color: #e0d9d9;
    --primary-color: #055047;
    --secondary-color: #5cb25c;
    --inverted-primary-color: #0f996d;
    --inverted-secondary-color: #35803d;
}
