:root {
    --bg-color: #e0d9d9;
    --inverted-bg-color: #153742;
    --primary-color: #34692e;
    --secondary-color: #398ecb;
    --inverted-primary-color: #538375;
    --inverted-secondary-color: #0f333f;
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
